.appBar {
  background-color: "white";
  color: "black";
  font-weight: "bolder";
  box-shadow: "0px 0px 0px 0px";
}

.typographyp {
  flex-grow: 1;
  text-align: "center";
  font-weight: bold;
}

.typographydp {
   flex-grow: 1;
   text-align: "center";
   display: flex;
   justify-content: center;

   
}

.textfield {
}
